* {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-color: #253745;
    --background-color: #06141B;
    --primary-color: #253745;
    --secondary-color: #4A5C6A;
    --accent-color: #CCD0CF;
}